{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": false,
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"trailingComma": "all",
	"bracketSameLine": false,
	"printWidth": 1000,
	"endOfLine": "crlf"
}
